/** -----------------------------------------------------:[ 10.0 - Content ]:---------- */

/** ---:[ Without JavaScript ]:--- */
.no-js {
	#content {
		.max-width();
		.clearfix();
	}
	#primary {
		.column( 8 );
	}
	#main {
		.inner( left );
	}
    @media only screen and ( max-width: @max-width ) {
		#content {
			padding-left: @spacing-base;
			padding-right: @spacing-base;
		}
	}
	@media all and ( max-width: unit( ( @max-width * .8 ), px ) ) {
		#primary {
			.column( 7 );
		}
	}
	@media all and ( max-width: unit( ( @max-width * .6 ), px ) ) {
		#primary {
			.break-column();
		}
		#main {
			.inner( false );
		}
	}
}

/** ----------------------------------------:[ 10.1 - Posts and pages ]:--- */
.hentry {
	padding-top: unit( ( @spacing-base * 1.5 ), em );
	padding-bottom: unit( ( @spacing-base * 1.5 ), em );
	border-bottom: 1px solid lighten( @light, 4% );
	img {
		border-radius: 2px;
	}
}
.entry {
	&-title {
		.heading( 3, 36 );
		line-height: 1.2;
		margin-top: 0;
		a {
			color: @dark;
			&:hover {
				color: @primary;
			}
		}
	}
	&-meta {
		i {
			margin-right: .4em;
		}
		&-time {
			color: lighten( @dark, 50% );
			margin-bottom: @spacing-base;
			a {
				color: lighten( @dark, 50% );
			}
		}
		&-categories {
			color: lighten( @dark, 20% );
			text-transform: uppercase;
			font-weight: bold;
		}
		&-tags {
			a {
				display: inline-block;
				margin-right: .3em;
				margin-bottom: .5em;
				padding: 0 .5em;
				background: @light;
				color: darken( @light, 40% );
				&:hover {
					background: @primary;
					color: #FFF;
				}
			}
		}
	}
	&-image {
		margin-bottom: unit( ( 36 / @font-size-base ), em );
		img {
			margin: 0 auto;
			display: block;
		}
	}
	&-footer {
		margin-top: unit( ( @spacing-base - 1.5 ), em );
	}
}

/** ---:[ Single ]:--- */
.single {
	.entry {
		&-title {
			line-height: 1.5;
		}
	}
}
/** ---:[ Pages ]:--- */
.page {
	
}

/** ---:[ Sticky Posts ]:--- */
.sticky {
	.entry {
		&-title {
			a {
				
			}
		}
	}
}

/** ---:[ With JavaScript ]:--- */
.js {
	.hentry {
		> [class^="entry-"] {
			/*
				NOTE Perhaps we will define this with actual classes.
			*/
			.max-width( 760px );
		}
	}
	.entry {
		&-meta {
			a {
				
			}
		}
	}
	.blog,
	.archive,
	.search {
		.hentry {
			text-align: center;
			.transition( ~'background-color 200ms linear' );
			&:hover {
				background-color: darken( #FFF, 1% );
			}
		}
		.entry {
			&-header,
			&-summary {
				text-align: center;
			}
			&-summary {
				p {
					margin-bottom: 0;
				}
			}
		}
		// Sticky posts
		.sticky {
			background-color: @primary;
			color: #FFF;
			&:hover {
				background-color: @secondary;
			}
			.entry {
				&-title {
					a {
						color: #FFF;
						&:hover {
							color: darken( #FFF, 5% );
						}
					}
				}
				&-meta {
					a {
						color: #FFF;
					}
				}
			}
		}
	}
	.page {
		&-header {
			padding-top: @spacing-base;
			padding-bottom: @spacing-base;
			background: @primary;
			border-bottom: 1px solid lighten( @light, 4% );
			color: #FFF;
			text-align: center;
		}
		&-title {
			margin: 0;
		}
		&-content {
			padding-top: @spacing-base;
			padding-bottom: @spacing-base;
			text-align: center;
		}
	}
}

/** ---:[ Without JavaScript ]:--- */
.no-js {
	.hentry {
		padding-top: unit( ( @spacing-base * 1.5 ), em );
		padding-bottom: unit( ( @spacing-base * 1.5 ), em );
		border-bottom: 1px solid lighten( @light, 4% );
	}
	.sticky {
		border-left: 5px solid @primary;
	}
}

/** ----------------------------------------:[ 10.2 - Post Formats ]:--- */
/** ---:[ With JavaScript ]:--- */
.js {
	.blog,
	.archive,
	.search {
		.format {
			&-status {
				background: @blue;
				color: #FFF;
				.entry {
					&-title {
						a {
							color: #FFF;
						}
					}
				}
			}
			&-aside {
				background: @magenta;
				color: #FFF;
				> [class^="entry-"] {
					.max-width( 600px );
				}
				.entry {
					&-title {
						font-size: 1.5em;
						a {
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

/** ----------------------------------------:[ 10.3 - Comments ]:--- */
@import 'comments';