/** -----------------------------------------------------:[ 14.0 - Header ]:---------- */
.site {
	&-header {
		&.skrollable {
			height: 0;
		}
	}
	&-branding {
		clear: both;
		padding: 10em 0;
		text-align: center;
	}
	&-title, 
	&-description {
		font-family: 'Righteous', cursive;
		color: white;
		margin: 0;
	}
	&-title {
		.font-size( 160 );
		line-height: 1.1;
		a {
			color: white;
		}
	}
	&-description {
		margin-top: 1.5em;
	}
}

/** ----------------------------------------:[ 14.1 - Site Toggles ]:--- */
.site-toggles {
	.main-navigation-toggle,
	.widget-area-toggle {
		position: fixed;
		top: 46px;
		left: 32px;
		z-index: 999;
		.font-size( 40 );
		line-height: 1;
		color: white;
		padding: 5px 10px;
		background: darken( @dark , 5% );
		background: fadeout( darken( @dark , 5% ), 20% );
		border-radius: 2px;
		.transition( ~'background 100ms linear' );
		&:hover {
			background: @primary;
			background: fadeout( @primary, 20% );
			.toggle-title {
				opacity: 1;
			}
		}
	}
	.widget-area-toggle {
		left: auto;
		right: 32px;
	}
	.toggle-title {
		left: 5px;
		bottom: -30px;
		position: absolute;
		padding: .5em;
		opacity: 0;
		background: @dark;
		background: fadeout( @dark, 20% );
		border-radius: 2px;
		.font-size( 12 );
		text-transform: uppercase;
		.transition( ~'opacity 200ms linear' );
	}
	.admin-bar & {
		.main-navigation-toggle,
		.widget-area-toggle {
			top: 64px;
		}
	}
}