/** -----------------------------------------------------:[ 13.0 - Sturcture ]:---------- */
#page {
	background: #FFF;
}

/** ---:[ With JavaScript ]:--- */
.js {
	#page {
		position: relative;
		left: 0;
		right: 0;
		.transition( ~'left 300ms ease, right 300ms ease' );
	}
}

/** ---:[ Columns ]:--- */
/*@import 'columns';*/