/** -----------------------------------------------------:[ 9.0 - Sidebars & Widgets ]:---------- */
.widget {
	margin: 0 0 1.5em;
	/** ---:[ Make sure select elements fit in widgets ]:--- */
	select {
		max-width: 100%;
	}
	/** ---:[ Search Widget ]:--- */
	&_search .search-submit {
		display: none;
	}
}

/** ---:[ With JavaScript ]:--- */
.js {
	#secondary {
		position: fixed;
		top: 0;
		right: -320px;
		width: 320px;
		.transition( ~'right 300ms ease' );
	}
	.widget-area-open {
		overflow: hidden;
		#secondary {
			right: 0;
		}
		#page {
			left: -320px;
			right: 320px;
		}
	}
}

/** ---:[ Without JavaScript ]:--- */
.no-js {
	.widget {
		&-area-toggle {
			display: none;
		}
	}
	#secondary {
		.column(4);
	}
	@media all and ( max-width: unit( ( @max-width * .8 ), px ) ) {
		#secondary {
			.column( 5 );
		}
	}
	@media all and ( max-width: unit( ( @max-width * .6 ), px ) ) {
		#secondary {
			.break-column();
		}
	}
}